<div class="center-block">
  <div class="top_header_product">
    <div class="container">
      <div class="row">
         <div class=" .col-xs-6 .col-xs-offset-3">
           <div class="panel panel-default">

  　　　　　　　　<h2>出品者との取引の流れ</h2>
               <h3>購入者</h3>
  　　　　　　　　　<ul>
                  <li>１.欲しい商品を見つけたら購入ボタンを押しましょう。</li><br>
                  <li>２.出品者にメッセージを送ってみましょう(よろしくお願いします、初めまして等)。</li><br>
                  <li>３.メッセージで取引内容の確認をしましょう（商品の金額、発送方法、振込先等）。</li><br>
                  <li>４.代金の振込先、または取引の場所を話し合いメッセージで決めてください。</li><br>
                  <li>５.お金の振込、商品の受け取りが確認できたらメッセージを送りましょう。</li><br>
                  <li>６.取引が終わったらマイページの取引中にある削除というボタンを押してください。</li>
                 </ul>
                 <br><br><br>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ブログ　コンテンツ -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9875563038621390"
     data-ad-slot="3516785266"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
               <h3>出品者</h3>
  　　　　　　　　　<ul>
                  <li>１.購入者からメッセージがきたら返信しましょう(よろしくお願いします、初めまして等)。</li><br>
                  <li>２.取引内容の確認をしましょう（商品の金額、発送方法、振込先等）。</li><br>
                  <li>３.代金の振込先、または取引の場所を話し合いメッセージで決めてください。</li><br>
                  <li>４.お金の振込、商品の受け取りが確認できたらメッセージを送りましょう。</li><br>
                  <li>５.取引が終わったらマイページの取引中にある削除というボタンを押してください。</li>
                 </ul>
                 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ブログ　コンテンツ -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9875563038621390"
     data-ad-slot="3516785266"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
