

<div class="center-block">
<div class="top_header_product">
  <div class="container">
      <div class="row">
         <div class=" .col-xs-6 .col-xs-offset-3">

              <div class="panel panel-default">

       
         
 
　　<h2> <%=link_to "出品者にメッセージを送る", new_product_chat_path(@product.id)%></h2>

                   

                     
                    
                   </div>

              </div>

          </div>
      </div>


</div>





 
 
