// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.disabled { padding-left: 90px; cursor: pointer ; color: black; }
.navbar-brand .topnav  h2 { margin-bottom: 30px; }
.profile-box {
}
.top_header { background-image: url("1024-cc-library010005268.jpg");
background-repeat: no-repeat;
 background-position: center center;
  background-size: cover;
  height: 1000px;
  margin-top: 90px;}
body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;}
.panel-default {
opacity: 0.9;
margin: 150px auto 200px  ;
}
.form-group.last { margin-bottom:0px; }
.row { margin: 0 auto;}
.dropdown { float: left; margin-top: 10px;}
.top_header_product { background-image: url("1024-cc-library010005268.jpg");
background-repeat: no-repeat;
 background-position: center center;
  background-size: cover;
  height: 1800px;
  margin-top: 90px;
}
#search_form_box { margin-top: 15px;}
.header-pro { margin-top: 3px;}
.btn-search { backgroung-color: gray;}
#search_form_box { border-radius: 10px;}
.header-log2 { margin-top: 5px;}

.top_header_show { 
  background-image: url("1024-cc-library010005268.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 1500px;
  margin-top: 70px;
}

.navbar-default {
  background-color: red !important;
}

.top_header_chat { 
  text-align: center; 
  height: 6000px; 
  // background-color: gray;
  margin-top: 90px;
}

.topcomment { width: 400px; height: 60px; border-radius: 5px;}

.chat_header { 
  // background-color: gray; 
  height: 120px;
}

.submittopcomment { width: 50px; height: 60px; border-radius: 5px;}
      

   .user_info {
    display: inline-block;
    margin-left: 10px;
    time {
      color: gray;
      font-size: .8em;
      display: block;
    }
  }
 .col-lg-3 { 
  background-color: white;
}

.posting_form {
  padding-top: 50px;
  }
.submitchat {
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px; 
}

.comment-shape {
width: 400px;
height: 40px;
background-color: white;
}

.message-start { text-align: center;}

.message_contents { 
  width: 400px;
  height: 80px;
  background-color: white;
  padding-top: 0px;
  margin-left: 200px;
  margin-top: 20px;

}

.message_top {
  width: 100%;
}

.message_contents_buyer {
  width: 400px;
  height: 80px;
  background-color: white;
  padding-top: 0px;
  margin-left: 800px;
  margin-top: 20px;
}

.top_header_chat { background-image: url("1024-cc-library010005268.jpg");
  background-repeat: no-repeat;
  background-position: center center;
    background-size: cover;
}


