
<div class="top_header">
  <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-offset-6">

              <div class="panel panel-default">
                  <div class="panel-heading">
                    </div>
                      <div class="panel-body">
                        投稿が完了しました</br>
                        <%= link_to "トップページに戻る", root_path %>
                    </div>
                      <div class="panel-footer">
                      </div>
              </div>
          </div>
      </div>
  </div>

</div>

