<div class="contents row">
    <div class="success">
      <h3>
        削除が完了しました。
      </h3>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ブログ　コンテンツ -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9875563038621390"
     data-ad-slot="3516785266"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
      <%= link_to "投稿一覧へ戻る", </a>
    </div>
  </div>