<div class="center-block">
  <div class="top_header_product">
    <div class="container">
      <div class="row">
         <div class=" .col-xs-6 .col-xs-offset-3">
           <div class="panel panel-default">

  　　　　　<h2>UNIBOOK利用規約</h2>
                  この規約(以下「本利用規約」といいます)は、運営されているインターネットサービス「UNIBOOK」において、提供する各種サービス（以下「本サービス」といいます）の利用の諸条件を定めるものです。
                <h3>第1条　本サービスの内容及び弊社の役割</h3>　
                本サービスは、大学生の教科書専用のオンラインフリーマーケットサービスです。ユーザー（次条で定義します）間の物品の売買の場・機会を提供するもので、ユーザー間の売買契約、出品、購入等の保証等に関しては、すべて当事者ユーザーの自己責任とし、弊社は自ら売買を行うものではなく、売買の委託を受けるものでもありません。弊社は売買契約の取り消し、解約、解除や返品、返金、保証など取引の遂行には一切関与しません。また、本サービスは、競りの方法（オークション）により物品の売買を行おうとする者のあっせんを行うものではありません。
                本サービスの内容は、本利用規約及びガイドに規定する通りとします。
                <h3>第2条　定義</h3>
                <h4>1. 定義</h4>
                本利用規約において、以下の用語は、別途定義されている場合及び文脈上別異に解すべき場合を除き、以下の意味を有するものとします。
                「本規約」とは、本利用規約、プライバシーポリシー及びガイドをいい、これらはすべて本規約を構成するものとします。
                「プライバシーポリシー」とは、弊社が定めるプライバシーポリシー（名称の如何を問わないものとします）をいいます。
                「ガイド」とは、弊社が定める本サービスに関するガイドをいいます。
                「ユーザー」とは、本規約の内容に同意して、日本国内において本サービスを利用される個人を指します。
                「個人情報」とは、個人情報保護法に定める「個人情報」を指すものとし、ユーザーが入力した氏名、郵便番号、住所、生年月日、性別、職業、電話番号、アカウント情報（電子メールアドレス及びパスワード等をいう。）、プロフィール情報（ニックネーム、趣味、家族構成、年齢その他の個人に関する属性情報）、クレジットカード情報及び利用履歴等で、かつ特定の個人を識別できる情報（他の情報と容易に照合することができ、それにより特定の個人を識別することとなるものを含む。）をいいます。
                「コンテンツ」とは、弊社又はユーザーが本サービスに掲載・発信した、情報をいいます。
                「出品」とは、ユーザーが、本サービスにて、商品の取引に必要なコンテンツを書き込み、他のユーザーが閲覧可能かつユーザーが商品を取引できる状態にすることをいいます。
                「出品者」とは、本サービスを通じて商品を出品するユーザーをいいます。
                「購入者」とは、本サービスにて商品を購入するユーザーをいいます。
                「ポイント」とは、本サービスにおける各種キャンペーン参加、その他弊社が本サービスにおいて指定する方法で取得可能な電子的仮想通貨をいいます。
                <h4>2. 適用</h4>
                本条の定義は、別途定義されている場合及び文脈上別異に解すべき場合を除き、本利用規約のほか、プライバシーポリシー及びガイドにおいても、適用されるものとします。
                <h3>第3条　本規約への同意及び本規約の変更</h3>
                <h4>1. 本規約への同意及び適用</h4>
                本規約は、本サービスの利用に関する条件をユーザーと弊社との間で定めることを目的とし、ユーザーと弊社の間の本サービスの利用に関わる一切の関係に適用されます。ユーザーは、本規約に同意をしたうえで、本規約の定めに従って本サービスを利用しなければなりません。ユーザーは、本サービスを利用することにより本規約に同意をしたものとみなされます。
                <h3>2. 未成年者の場合</h3>
                <h4>ユーザーが未成年者である場合は、事前に親権者など法定代理人の包括的な同意を得たうえで本サービスを利用しなければなりません。ユーザーが未成年者である場合は、親権者の同意の有無に関して、弊社から親権者に対し、確認の連絡をする場合があります。</h4>
                <h3>3. 本規約の変更</h3>
                <h4>弊社は、必要に応じ、本規約を変更できるものとします。弊社は、本規約を変更した場合には、ユーザーに通知するものとし、通知後、ユーザーが本サービスを利用した場合又は弊社の定める期間内にアカウント削除の手続をとらなかった場合には、ユーザーは、本規約の変更に同意をしたとみなされるものとします。弊社は、本規約の改定、変更によりユーザーに生じたすべての損害について、一切の責任を負いません。</h4>
                

                <h3>第4条　ユーザー登録及びアカウント情報</h3>
                <h4>1.登録</h4>
                ユーザー登録は、必ず本人が行ってください。また、ユーザー登録の際は、必ず正確な情報を入力してください。
                <h4>.複数登録の禁止</h4>
                ユーザーは、複数のユーザー登録を行うことができないものとします。
                <h4>3.登録拒否</h4>
                UNIBOOKは、以下各号のいずれかに該当する場合、ユーザー登録の申請を承認しないことがあります。
                第3条第2項及び本条第2項のユーザー資格を満たしていない場合
                過去に本規約違反等により、弊社から利用停止等の処分を受けている場合
                登録内容に正確ではない情報、又は虚偽の情報が含まれている場合
                その他弊社が不適当であると判断する場合
                <h4>4.登録内容の変更</h4>
                ユーザーは、登録内容の変更がある場合は、直ちに変更しなければならず、常にユーザー自身の正確な情報が登録されているよう、登録内容を管理及び修正する責任を負います。登録内容に変更があったにも関わらず、変更を行っていない場合、UNIBOOKは、登録内容の変更のないものとして取り扱うことができます。変更の届出があった場合でも、変更登録前に行われた取引や各種手続は、変更前の情報に依拠する場合があります。
                <h4>5.アカウント情報の管理</h4>
                ユーザーは入力したメールアドレス及びパスワード等（以下「アカウント情報」といいます。）を自ら管理する責任を負います。ユーザーは、アカウント情報を第三者等に利用させたり、譲渡や売買、質入、貸与、賃貸したり、その他形態を問わず処分することはできません。
                <h4>6.アカウント情報の不正利用等</h4>
                アカウント情報の管理不十分による情報の漏洩、使用上の過誤、第三者の使用、不正アクセス等による損害の責任はユーザーが負うものとし、弊社は一切責任を負わないものとします。また、アカウント情報が不正に利用されたことにより弊社に損害が生じた場合、ユーザーは当該損害を賠償するものとします。
                <h3>第5条　ユーザー登録の取消等</h3>
             
                <h4>1.ユーザー登録の取消・利用停止等</h4>
                UNIBOOKは、ユーザーが以下の各号のいずれかに該当した場合又は該当したと弊社が判断した場合、事前の通知なしに、ユーザー登録の取消、本サービスの全部もしくは一部へのアクセスの拒否・利用停止等、又は、ユーザーに関連するコンテンツや情報の全部もしくは一部の削除の措置をとることができるものとします。UNIBOOKは、その理由を説明する義務を負わないものとします。なお、UNIBOOKは、ユーザーが以下の各号のいずれにも該当しないことを確認するために、弊社が必要と判断する本人確認を行うことができ、確認が完了するまで本サービスの全部もしくは一部へのアクセスの拒否・利用停止等の措置することができます。
                法令又は本規約に違反した場合
                不正行為があった場合
                登録した情報が虚偽の情報であると弊社が判断した場合
                登録した情報が既存の登録と重複している場合
                登録した携帯電話番号又はメールアドレスが不通になったことが判明した場合
                ユーザーが債務超過、無資力、支払停止又は支払不能の状態に陥った場合
                他のユーザーや第三者に不当に迷惑をかけた場合
                登録した金融機関の口座に関し違法または不適切その他の問題があることが当該金融機関による指摘その他により判明した場合
                第4条第3項各号のいずれかに該当する場合
                その他UNIBOOKがユーザーに相応しくないと判断した場合
                <h4>2.サービスの利用禁止等</h4>
                弊社は、本条の措置を受けたユーザーに対し、将来にわたってUNIBOOKが提供するサービスの利用及びアクセスを禁止することができるものとします。
                <h4>3.支払いの留保</h4>
                弊社は、本条の措置の時点で当ユーザーに支払われることとなっていた金銭等について、違法行為への関与が疑われる場合等、弊社の判断により、支払いを留保することができるものとします。
            
                <h4>4.弊社の免責</h4>
                UNIBOOKは、本条の措置により生じる損害について、一切の責任を負わないものとします。
                <h3>第7条　個人情報等の取扱い</h3>
                <h4>1.プライバシーポリシー</h4>
                弊社は、本規約に従って個人情報等を取り扱います。
                <h4>2.プライバシーポリシーへの同意</h4>
                ユーザーは、本サービスの利用又は本サービスの閲覧の前に、本サービス上で、利用規約を必ず確認し、その内容に同意した上で、本サービスを利用するものとします。
                <h4>3.ユーザーによる利用</h4>
                ユーザーは、本サービスを通じて得た個人情報等に関しまして、本サービスの利用の範囲内においてのみ利用することができ、それ以外の利用はできないものとします。
                <h4>4.利用の目的</h4>
                弊社は、UNIBOOKが取得する個人情報等に関しまして、以下の各号に定める目的で利用することができるものとします。
                本サービスの提供で必要となってくる範囲での利用
                品質管理及び利便性向上の為のアンケート調査及び分析での利用
                本サービスに対する問い合わせ対応の際の利用
                運営に関する事柄についての連絡又は追加対応の際の利用
                本サービス運営上の不正利用や、その他のトラブル解決の際の利用
                システムの維持又は不具合の改善の際の利用
                その他プライバシーポリシーに定める目的
                <h4>5.第三者への預託又は提供</h4>
                UNIBOOKは、法令に基づく場合又は以下に定める場合を除き、個人情報等を第三者に預託又は提供する場合は、事前にユーザーの同意を得ることなしにしません。
                弊社が定めている期間内で、コンテンツ、利用履歴及びプロフィール情報を本サービス上において公開する場合
                商品代金を回収する為に必要な場合
                合併や、その他の事由による事業の承継に伴って事業を承継する者に対して個人情報を提供する場合
                ユーザー間又は第三者とのトラブルを解決するために、弊社が開示を必要と判断した場合
                その他プライバシーポリシーに定める場合
                <h4>6.弊社の免責</h4>
                個人情報等を前項に基づき第三者に預託又は提供したことによるユーザーの損害について、UNIBOOKは一切責任を負わないものとします。ユーザーは、本条の内容を十分に認識した上で、本サービスを利用する必要するものとします。
                7.ユーザーによる訂正等の請求
                弊社は、ユーザーが本サービスに入力した個人情報等について、関連法規に従い、事実確認を行った上で、訂正、削除又は利用停止等の適切な措置を講じます。
                <h3>第9条　商品の出品</h3>
                <h4>1.出品手続</h4>
                出品者は、弊社所定の手続に従い商品の出品を行うものとします。
                <h4>2.出品禁止商品</h4>
                出品者は次の各号に関係する商品の出品ができないことについて予め了承します。以下に該当する商品を出品した場合は、出品者の故意又は過失に関わらず、本規約違反行為とみなします。
                法令に違反する商品
                主として武器として使用される又はそのおそれのある目的を持つ商品
                他のユーザーの権利を侵害する又はそのおそれのある商品（偽ブランド品を含むがこれに限られないものとします）
                犯罪等によって入手した商品
                公序良俗に反する商品（アダルト関連の商品、わいせつな商品、児童ポルノに関連する商品を含むがこれらに限られないものとします）
                商品の販売の際に、法律上の許認可が必要な商品
                人体・健康に影響を及ぼすおそれのある商品
                コンピュータウィルスを含むデジタルコンテンツ
                一つの商品でありながら代金を複数に分割して出品された商品
                道路運送車両法上の所有者の変更登録が直ちにできないまたはそのおそれがある自動車およびオートバイ
                債券、有価証券、保険等の金融商品
                人体、臓器、細胞、血液またはそれに類するもの
                生き物
                盗品
                物品ではないもの（情報、サービスの提供、会員権などの権利を含むがこれに限られないものとします）
                その他、弊社が不適切と判断した商品
                <h4>3.商品説明等</h4>
                ユーザーは、出品する際に、真に売却する意思のない出品、その商品情報だけでは正しく商品を理解できない又は混乱する可能性のある出品、商品説明で十分な説明を行わない出品等を行ってはなりません。また、出品者は、出品する商品と関係のない画像等を当該出品情報として掲載してはいけません。
                <h4>4.法令遵守</h4>
                ユーザーは、出品にあたっては、古物営業法、特定商取引に関する法律、不当景品類及び不当表示防止法、不正競争防止法、商標法、著作権法その他の法令を遵守しなければなりません。
                <h4>5.特定ユーザーへの販売を意図した出品</h4>
                ユーザーは、他の特定のユーザーのみを対象とする販売を意図して商品を出品することができません。弊社は、その裁量により、出品の条件その他の状況から、ある商品の出品が他の特定のユーザーのみを対象とする販売を意図するものであるか否かを判断することができ、かかる判断によってユーザーに生じる損害について、一切責任を負わないものとします。
                <h4>6.出品に関する本規約違反</h4>
                出品に関して弊社が本規約に違反すると判断した場合又は不適切と判断した場合、弊社は、第5条に定める措置のほか、その出品やその出品に対して発生していた購入行為等を弊社の判断で取り消すことができるものとします。本項に基づく措置によってユーザーに生じる損害について、弊社は一切責任を負わないものとします。
                <h4>7.弊社の免責</h4>
                ユーザーの出品等によって、ユーザー及び第三者に生じる損害につき、弊社は一切責任を負わないものとします。
                <h3>第10条　商品の購入</h3>
                <h4>1.購入手続</h4>
                ユーザーは、UNIBOOKの定める手続により購入の意思をもって、注文を行うものとします。
                <h4>2.購入意思等</h4>
                ユーザーは、購入する意思のない注文、転売等の営利を目的とした商品の購入等、また弊社の判断でいたずら目的と見受けられる注文を行うことはできません。
                <h4>3.必要データ</h4>
                UNIBOOKが定める取引開始可能な時間内に、弊社の管理するサーバーに販売金額に関するデータ、販売意思のアクションデータなどの弊社所定のデータの到達が確認できなかった場合、注文は無効になるものとし、ユーザーはあらかじめこれを承諾するものとします。
                <h4>4.自らの出品物の購入禁止等</h4>
                出品者は、自らの出品物を購入することはできません。出品を取り下げたい場合は、ユーザーは、弊社所定の手続に従って行うものとします。
                <h4>5.弊社の免責</h4>
                ユーザーの注文又は購入等によって、ユーザー及び第三者に生じる損害につき、弊社は一切責任を負わないものとします。
                <h3>第11条　支払及び取引の実行</h3>
                <h4>1.売買契約の成立</h4>
                購入者が出品された特定の商品の購入完了手続をした時をもって当該商品の売買契約が成立するものとします。出品者及び購入者は、売買契約に基づき発生した権利・義務を第三者に譲渡、担保提供その他の処分することはできないものとします。
                <h4>2.支払期限及び送料</h4>
                売買契約が成立した場合、購入者は、UNIBOOKの定める方法により商品代金と手数料の合計額を支払うものとします。商品の送料は、出品者が負担する場合には、商品代金に含むものとし、購入者が負担する場合には、商品の発送を着払いで行うものとします。
                <h4>3.発送</h4>
                出品者は、購入者の支払いが完了した後に商品の発送をするものとします。
                <h4>4.商品等に関するトラブル</h4>
                出品者、購入者の間で商品等に関してトラブル発生した場合は当該ユーザー間で解決するものとします。
                <h4>5.キャンセル及び商品の瑕疵</h4>
                本サービスの利用にあたり、出品後、及び商品の注文後のキャンセルはできないものとします。 
                商品に瑕疵がある場合、商品説明と実際の商品が明らかに異なる場合、梱包の不備により配送時に商品が破損したなどの場合は出品者が責任を負うものとし、出品者の責任及び費用により、返金、商品の引取、修理又は交換等の対応を行うものとします。
                <h4>6.支払手続</h4>
                支払又は決済が本サービスに関して必要となる場合、本サービスのオンラインシステムを通じて行われるものとし、その詳細は本サービス中のガイドで定められるところに従うものとします。なお、本サービス利用に関し、ユーザーによって支払われた代金決済についての領収書等は発行されないものとします。また、支払いに必要な振込手数料その他の費用についてのユーザーの負担は、本サービス中で定められるところに従うものとします。
                <h4>7.不払・支払遅延等</h4>
                ユーザーが本規約に従って必要な支払いを行わない場合もしくは遅延した場合、UNIBOOKは、当該ユーザーに通知することなく、当該ユーザーによる本サービスの利用を停止することができるほか、第5条に定める措置をとることができるものとします。
                <h4>8.売買契約の取消</h4>
                売買契約が成立した場合においても、購入者が商品代金及び手数料の合計額を支払わない場合もしくは支払いを遅延した場合、出品者が商品を発送しない場合、その他UNIBOOKが必要と認める場合には、UNIBOOKは、当該売買契約を取り消すことができるものとします。
                <h4>9.弊社の免責</h4>
                ユーザーが本サービスに入力した決済手段又は金融機関の情報が第三者に利用されたこともしくは入力情報の内容が不正確であったこと又は弊社が本条に基づく措置を行ったこともくしは行わなかったことによってユーザーに生じた損害に関して、弊社は一切責任を負わないものとします。
                <h3>第11条　本サービスの中断・終了及び変更</h3>
                <h4>1.本サービスの中断</h4>
                UNIBOOKは、以下の各号のいずれかに該当する場合には、ユーザーに事前に通知することなく一時的に本サービスの全部又は一部を中断する事ができるものとします。その際、ユーザーに損害が発生した場合であっても、UNIBOOKは一切の責任を負わないものとします。
                サーバー、通信回線、その他の設備の故障、障害の発生又はその他の理由により本サービスの提供ができなくなった場合
                システム（サーバー、通信回線や電源、それらを収容する建築物などを含む）の保守、点検、修理、変更を定期的に又は緊急に行う場合
                火災、停電等により本サービスの提供ができなくなった場合
                地震、噴火、洪水、津波等の天災により本サービスの提供ができなくなった場合
                戦争、変乱、暴動、騒乱、労働争議等その他不可抗力により本サービスの提供ができなくなった場合
                法令又はこれに基づく措置により本サービスの提供ができなくなった場合
                その他、運用上又は技術上UNIBOOKが本サービスの一時的な中断を必要と判断した場合
                <h4>2.本サービスの終了及び変更</h4>
                UNIBOOKは、任意の理由により、ユーザーへの事前通知をすることなく、いつでも本サービスの全部又は一部を終了及び変更できるものとします。 
                UNIBOOKは、前項の本サービスの終了及び変更による損害について、ユーザー及び第三者に対して一切責任を負わないものとします。
                <h3>第12条　ユーザーの責任及び接続環境等</h3>
                <h4>1. 必要な機器の準備等</h4>
                本サービスの提供を受けるために必要な、コンピューター、スマートフォンその他の機器、ソフトウェア、通信回線その他の通信環境等は、ユーザーの費用と責任において準備し維持するものとします。また、その機器・ソフトウェア・通信環境等の設置や操作についても、ユーザーの費用と責任で行って頂く必要があります。弊社は、本サービスがあらゆる機器等に適合することを保証するものではなく、機器等の準備、設置、操作に関し、一切関与せず、ユーザーに対するサポートも行いません。
                <h4>2.ネットワークの経由等</h4>
                ユーザーは、本サービスを利用する際に、種々のネットワークを経由する場合があることを理解し、接続しているネットワークや機器等によっては、それらに接続したり、それらを通過するために、データや信号等の内容が変更される可能性があることを理解したうえで、本サービスを利用するものとし、かかる変更について弊社は一切責任を負わないものとします。
                <h4>3.手続の成立</h4>
                ユーザーがインターネット回線を通じて行う本サービスへの入力、出品、購入、退会、その他の手続は、弊社のサーバーに当該手続に関するデータが送信され、弊社のシステムに当該手続の内容が反映された時点をもって有効に成立するものとします。
                <h4>4.トラブルの解決</h4>
                本サービスに関連してユーザー間又はユーザーと第三者間で発生したトラブル（本サービスを将来利用するという前提の下で起こったトラブルを含む。）に関して、ユーザーは各自の費用及び責任で解決するものとし、UNIBOOKは一切の責任を負わないものとします。トラブルが生じた際には、当事者間で解決するものとし、当該トラブルにより弊社が損害を被った場合は、当事者は連帯して当該損害を賠償するものとします。
                <h4>5.第三者との紛争解決</h4>
                ユーザーと第三者との間で、本サービスに関連して、裁判やクレーム、請求等あらゆるトラブルを含む紛争が生じた場合、ユーザー各自の責任や費用で解決するものとし、UNIBOOKは、当該紛争に関し、一切関与しません。ユーザーは、当該紛争の対応のためにUNIBOOKに生じた弁護士費用を含むあらゆる費用及び賠償金等を、連帯して賠償するものとします。
                <h4>6.費用の負担</h4>
                弊社とユーザー間で紛争が生じた場合、当該紛争に関連して弊社に発生した弁護士費用を含むあらゆる費用を、当該ユーザーは連帯して負担することに同意するものとします。
                <h3>第13条　非保証及び免責</h3>
                <h4>1.内容等に関する非保証</h4>
                弊社は、本サービスの内容・品質・水準、本サービスの安定的な提供、本サービスの利用に伴う結果等については、一切保証しません。
                <h4>2.弊社の免責</h4>
                本サービス提供における、不正確、不適切、不明瞭な内容、表現、行為等により、ユーザー及び第三者に対して損害が生じた場合、故意・過失の有無にかかわらず、弊社は、当該損害について一切責任を負わないものとします。
                <h4>3.他のウェブサイトに関する免責</h4>
                ユーザーが書き込んだ他のウェブサイト等へのURLにより、そのリンク先で生じた損害に関して、UNIBOOKは一切責任を負わないものとします。
                <h3>第14条　損害賠償</h3>
                <h4>1.ユーザーの責任及び弊社の免責</h4>
                ユーザーが本規約に違反した場合、故意過失を問わず、当該ユーザーが、当該違反により損害を受けたユーザー及び第三者に対する損害賠償責任を含む、一切の責任を負うものとします。ユーザーがかかる違反行為を行ったことにより、UNIBOOKが損害を被った場合は、当事者は連帯して当該損害を賠償するものとします。
                <h4>2.UNIBOOKの損害賠償責任</h4>
                UNIBOOKは、UNIBOOKによる本サービスの提供の停止、終了又は変更、ユーザー登録の取消、コンテンツの削除又は消失､本サービスの利用によるデータの消失又は機器の故障等、その他本サービスに関連してユーザーが被った損害につき、賠償する責任を一切負わないものとします。

                <h3>2015年3月24日制定</h3>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


